# register the Groq Api Key here: https://console.groq.com/keys
GROQ_API_KEY=gsk_XXXXXXXXXXXXXXXXXXXXX

GROQ_MODEL=llama-3.1-8b-instant

# PostgreSQL
POSTGRES_DB=neurona_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_PORT=5432
POSTGRES_DOCKER_SERVICE_NAME=db